.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 2rem;
  gap: 2rem;
  color: #f0f0f0;
  width: 100%;
}
.checkout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: fit-content;
}
.checkout-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  width: 400px;
  gap: 1rem;
}
.checkout-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  text-align: left;
  justify-content: left;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #ccc;
  color: #f0f0f0;
}
.checkout-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
}
.qty-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #f0f0f0;
}
.qty-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
}
.qty-btn:hover {
  background-color: #ff5733;
}
.qty-display {
  font-size: 1.2rem;
  min-width: 20px;
  text-align: center;
}
.remove-item {
  background-color: rgb(105, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}
.remove-item:hover {
  background-color: rgb(150, 0, 0);
}

.checkout-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.summary-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
}
 
.pay-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
}
.pay-btn:hover {
  background-color: #ff5733;
}
.empty-cart {
  font-size: 1.5rem;
  color: #ccc;
  margin-top: 2rem;
}
h3{
  margin: 1rem 0;
    font-size: 2rem;
  color: var(--accent-color);
}
/*-----------------------------------------------*/
.modal-backdrop{
    height: 100%;
}
.payment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.719);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: auto 10%;
  margin-bottom: 2rem;
  justify-content: center;
}
.payment-method-selection {
  background-color: #222;
  padding: 0 2rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 300px;
  align-items: center;
  gap: 1.5rem;
  color: #f0f0f0;
  width: 100%;
  margin-top: 1rem;
}
.payment-methods select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #f0f0f0;
}
.payment-methods select option {
  background-color: #333;
  color: #f0f0f0;
}
.payment-card-preview {
  width: 300px;
}
.card-preview {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 200px;
}
.card-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.payment-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #f0f0f0;
  width: 300px;
}
.payment-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}
.order-summary {
  background-color: #383737;
  margin: 1rem;
  font-size: 1rem;
  width: 100%;
  height: 450px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border-left: 2px solid var(--accent-color);
}
.order-summary h4{
    font-size: 1.5rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}
.summary-lines {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: left;
  width: 100%;
}
.summary-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pay-now-btn {
  margin-top: 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
}
.pay-now-btn:hover {
  background-color: #ff5733;
}
.cancel-btn {
  margin-top: 1rem;
  background-color: rgb(105, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
}
.cancel-btn:hover {
  background-color: rgb(150, 0, 0);
}
.coupon-note {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
.total {
  font-weight: bold;
  font-size: 1.2rem;
}
.delivery-price {
  font-size: 1rem;
  padding: 0.5rem 0;
}
.final-total {
  font-weight: bold;
  font-size: 1.4rem;
}
.coupon-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #f0f0f0;
  flex-grow: 1;
}
.coupon-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}
.coupon-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.coupon-btn:hover {
  background-color: #ff5733;
}
.select-method-label{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
}
.select-method-label span{
    background-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.select-method-label span:hover{
    background-color: var(--accent-color);
    color: #1b1b1b;
}
 
.payment-actions{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 8rem;
    align-self: flex-end;
}
.paypal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}
.paypal-form label{
    font-size: 1.2rem;
    text-align: left;
}
.cash-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}
.cash-form label{
    font-size: 1.2rem;
    text-align: left;
}